<a class="inline-block hover:text-{{ section_color }}-accent text-base items-center justify-center {% if settings.links_show_underline %}border-b-text border-{{ section_color }}-text hover:border-{{ section_color }}-accent pb-1{% endif %}" href="{{ link }}">
  <span class="{% if settings.links_uppercase %}uppercase{% endif %}">{{ text }}{% if settings.links_show_arrow %}&nbsp;&rarr;{% endif %}</span>
</a>
